<h1>Guests</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Document</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @guests.each do |guest| %>
      <tr>
        <td><%= "#{guest.first_name} #{guest.last_name}" %></td>
        <td><%= guest.email %></td>
        <td><%= guest.phone %></td>
        <td><%= guest.document_id %></td>
        <td><%= link_to "View", guest_path(guest) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p class="muted">Mostrando <%= @guests.size %> huéspedes.</p>
